input.inputBox {
    height: 40px;
    width: 450px;
    left: 369px;
    top: 188.3333740234375px;
    border-radius: 3.3333334922790527px;
}
.textBox {
    width: 450px;
    left: 369px;
    top: 188.3333740234375px;
    border-radius: 3.3333334922790527px;
}